a, div, span, body {
  background: #1b1b1b;
  color: rgba(255,255,255,.8);
}

#drag, .drag {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 0, .5);
  width: 80px;
  height: 80px;
  cursor: move;
  z-index: 1;
  transition: left 0.1s ease-out, top 0.1s ease-out;
}
#drag.small, .drag.small {
  width: 40px;
  height: 40px;
}
.trello {
  display: flex;
  align-items: flex-start;
}
.trello .card-list {
  background: rgba(255,255,255,.1);
  height: 100vh;
  overflow: auto;
  margin: 0 12px;
  padding: 12px;
  border-radius: 8px;
}
.trello .card {
  background: rgba(255,255,255,.2);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  user-select: none;
}
.trello .placeholder {
  background: rgba(255,255,255,.4);
}
